*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: white;
    /* font-size: 16px; */
}

body{
    background: #c4c3c3;
}

/* HEADER */
header{
    background: black;
}

header .content{
    display: flex;
    align-items: center;
}

header .logo, .menu, .menu > li{
    display: inline-block;
}

header .menu{
    margin-left: 50px;
}

header .menu > li{
    position: relative;
}


header .menu > li:hover{
    border-bottom: 2px solid aqua;
}

header .menu > li > a{
    text-decoration: none;
    display: block;
    padding: 20px 50px;
}

header .menu > li:hover > ul.submenu{
    display: block;
}

.submenu{
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    width: 200px;
    z-index: 100;
}

.submenu li a{
    text-decoration: none;
    display: block;
    padding: 10px 50px;
    background: gold;
    border-bottom: 1px solid red;
}

.submenu li:last-child a{
    border-bottom: none;
}

.submenu li a:hover{
    text-decoration: dashed;
    background: rgb(0, 255, 42);
   
}

/*END HEADER */

 .logo img{
   width: 80px;
   height: 28px;
 }


img{
    width: 100%;
    vertical-align: bottom;
}

.wrapper{
    /* background: url('images/hinh-anh-tuyet-roi-va-khu-rung-bang-tuyet-phu-trang.gif'); */
    background: #333333;
    color: white;
}

.content{
    background: #c4c3c3;
    max-width: 1440px;
    margin: 0 auto;
}

.item__top{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 19px;
    column-gap: 19px;
}

.item__top__left{
    flex-basis: 75%;
}

.item__top__right{
    flex-basis: 24%;
    display: flex;
    flex-direction: column;
    
    row-gap: 19px;
}

.item__bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 19px;
    /* column-gap: 19px; */
}

.item{
    border-radius: 5px;
    flex-basis: 24%;
}
.item img{
    width: 100%;
    height: 170px;
    vertical-align: bottom;
}

 .item__content{
    padding: 12px 18px;
    background: #3b3b3b;
}

.item__content .tag{
    color: black;
    background: #729ccb;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    font-size: 13px;
}

.item__content .h2{
   margin: 20px 0px;
}

.item__content .time{
    font-size: 13px;
    display: flex;
 }

 .time .time__icon{
    width: 15px;
    height: 15px;
    margin-right: 6px;
 }

 .show__more{
     margin-top: 20px;
     text-align: center;
 }

 .show__more a{
    border-radius: 5px;
    border: 1px orange solid;
    padding: 10px 50px;
    text-decoration: none;
 }

 /* FOOTER */

 footer{
    background: black;
    padding: 40px 0;
     margin: 20px 0;
 }

 footer .logo{
    display: flex;
    justify-content: center;
 }

 .social{
     margin-top: 30px;
     display: flex;
     justify-content: center;
     gap: 10px;
 }
 .social img{
    width: 32px;
    height: 32px;
 }


 .list__menu__footer{
     margin: 30px 0 0 0;
     padding: 0;
     list-style: none;
     list-style-type: none;
     text-align: center;
 }

 .list__menu__footer li{
     display: inline-block;
     margin: 0 20px;
 }

 .list__menu__footer li:hover{
    border-bottom: 1px aqua solid;
}

 .list__menu__footer li a{
    color: white;
    text-decoration: none;
}

footer p{
    text-align: center;
}

 /* END FOOTER */



 @-webkit-keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @-webkit-keyframes snowflakes-shake {
    0%,100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50% {-webkit-transform:translateX(80px);transform:translateX(80px)}
  }
  @keyframes snowflakes-fall {
    0% {top:-10%}
    100% {top:100%}
  }
  @keyframes snowflakes-shake {
    0%,100%{ transform:translateX(0)}
    50% {transform:translateX(80px)}
  }
  .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;
    position:fixed;
    top:-10%;
    z-index:9999;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;
    -webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;
    animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;
    animation-timing-function:linear,ease-in-out;
    animation-iteration-count:infinite,infinite;
    animation-play-state:running,running;
  }
  .snowflake:nth-of-type(0){
    left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s
  }
  .snowflake:nth-of-type(1){
    left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s
  }
  .snowflake:nth-of-type(2){
    left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s
  }
  .snowflake:nth-of-type(3){
    left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s
  }
  .snowflake:nth-of-type(4){
    left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s
  }
  .snowflake:nth-of-type(5){
    left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s
  }
  .snowflake:nth-of-type(6){
    left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s
  }
  .snowflake:nth-of-type(7){
    left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s
  }
  .snowflake:nth-of-type(8){
    left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s
  }
  .snowflake:nth-of-type(9){
    left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s
  }
  .snowflake:nth-of-type(10){
    left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s
  }
  .snowflake:nth-of-type(11){
    left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s
  }





